.app {
  text-align: center;
  height: 100vh;
}

.bg-green{
  background-color: #32E875 !important;
}

.bg-blue{
  background-color: #279AF1 !important;
}

.bg-yellow{
  background-color: #FFFD98 !important;
}

.bg-green2{
  background-color: #60935D !important;
}

.bg-purple{
  background-color: #432874 !important;
}

.purple{
  color: #432874;
}

a:hover {
  text-decoration: none !important;
}

.col{
  padding: 0 !important;
}
